$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);




// .plans-container--card {
//     position: relative;
//     scroll-snap-align: center;
//     width: 70%;
//     min-width: 190px;
//     max-width: 300px;
//     height: 250px;
//     margin: 50px 5px 0;
//     padding: 0 15px;
//     background-color: var(--just-white);
//     border-radius: 15px;
//     box-shadow: 0 4px 8px $green(89 73 30 / 16%);
// }


// #containerOne {
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: center;
//    }

