
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 3rem;
$nav-tabs-border-color: rgb(182, 180, 180);
$nav-tabs-link-active-color: black;
$nav-pills-link-active-bg: black;
$nav-tabs-border-width: .2rem;
$nav-tabs-link-hover-border-color: transparent white red;
$nav-tabs-link-active-border-color: transparent white red;



@import "./main.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";


@media (min-width: 320px) and (max-width: 575px) {
  html {
    width: 100%;
    display: flex;
  }
  #nav-bar {
    display: flex;
    width: auto;
  }
  #container-img-one {
    margin: 10px !important;
    padding: 10px !important;
  }
  .imagenOne {
    width: 500px;
    margin-top: 15px;
  }
  #container-one {
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 50px;
  }
}
// Tablet
@media (min-width: 576px) and (max-width: 768px) {
  #nav-bar {
    display: flex;
    width: auto;
  }
  .lead {
    font-size: 1.70rem;
    font-weight: 300;
}
.h1-grande {
  font-size: 2.5rem !important;
}
  .container {
    padding: 0;
    margin: 0;
  }
  #container-img-one {
    margin: 0 !important;
    padding: 0 !important;
  }
  .imagenOne {
    width: 520px;
    margin-top: 15px;
  }
  #container-one {
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 50px;
  }
  .centrar {
    padding-left: 0 !important;
    margin-left: 0 !important;
    text-align: center;    
  }
  .primary {
    width: 13rem !important;
    height: 4rem !important;
    font-size: 1.3rem !important;
  }
  #container-two {
    width: 500px;
    margin-left: 50px !important;
    margin-top: 100px !important;
  }
  #container-three {
    width: 500px;
    
    
  }
  #container-four {
    width: 500px;
    margin-left: 30px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

  }
  .more-info {
    display: flex;
    justify-content: center;
  }
  #container-five {
    width: 500px;
    margin-left: 20px !important;
    margin-top: 70px !important;
  }
  #container-six {
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
  }
  .cardMobile {
    width: 300px !important;
    height: 400px !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    border-radius: 15px !important;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .imgDownload {
    width: 150px;
  }
}
