
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 3rem;
$nav-tabs-border-color: grey;
$nav-tabs-link-active-color: black;
$nav-tabs-border-width: .1rem;
$nav-tabs-link-hover-border-color: white;
$nav-tabs-link-active-border-color: red white red;
$border-bottom: 1rem solid grey;
@import "./main.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";


@include media-breakpoint-between(None, md) {
  #containerOne {
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
  }
  .centrar {
    
  }
  #nav-bar {
    display: flex;
   
  }
}
